# ===== MySQL =====
MYSQL_DATABASE=realtimechat
MYSQL_ROOT_PASSWORD=1011

# ===== Backend =====
JWT_SECRET=IYcD2/Y39orfWVYNPCXq9P1E4NiGT5S6H2+SWXCM/3JryeWJ82hdjy6S8Ni0w1BD
BACKEND_PORT=8080

# ===== Frontend =====
FRONTEND_PORT=80